.horizontal-cow-card-marketplace {
    display: inline-block;
    margin: 10px;
    color: black;
}

.mktplace-card-cow {
    width: 22vw;
    height: 35vh;
    padding: 15px;
    color: black;
}

.btn {
    padding: 4px;
    margin: 5px;
}

.marketplace-card-button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* Take full width of the card */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.markteplace-card-button-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.marketplace-more-info-button {
    font-size: 17px;
}