/* MarketplaceCard.css */
.horizontal-cow-card {
    display: inline-block; /* Display horizontally */
    margin: 2rem; /* Add some margin for spacing */
    color: black;
    height: 18rem;
    width: 18rem;
}

.cardcow {
    color: black;
}

.tableCow {
    color: aliceblue;
}

.btn {
    padding: 4px;
    margin: 5px;
}

.th {
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#cow-raze{
    line-clamp: 1;
    overflow: hidden;
}