.restore-form-pass {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("../../../assets/BGCow.jpg");
    background-color: rgba(0, 0, 0, 0.68);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    filter: brightness(90%);
    font-size: 20px;
    justify-content: center;
  }
  
  .restore-form-pass-space {
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-bottom: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    align-items:center;
    width: 46vw;
  }
  
  .restore-form-header-title {
      text-align: center;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
     border-radius: 10px;
     background-color: #50592F;
     height: 10vh;
     width: 40vw;
     color: white;
      padding:15px;
      margin-bottom: 5vw;
  }

  .info-space {
      align-items: start;
  }

  .restore-pass-field {
      width: 20vw;
  }

  .buttons {
      justify-content: center;
      align-items: center;
  }

  #new-password-text {
      color:white;
      font-weight: lighter;
  }