/* CowCard.css */
.horizontal-cow-card {
    display: inline-block; /* Display horizontally */
    margin: 10px; /* Add some margin for spacing */
    background-color: white !important;
    color: black;
}

.cardcow{
    background-color: white;
    padding: 10px;
    color: black;
}

.tableCow{
    background-color: pink !important;
    color: aliceblue;
}

.btn {
    padding: 4px;
    margin: 5px;
}