.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #BABFA8;
  
}

.login-space {
  height: 90vh;
  width: 30vw;
  padding: 5vh 5vw;
  background-color: #50592F;
  color: #eceff1;
  border-radius: 30px;
  border: 10px solid #eceff1;
}

.welcome {
  background-color: #eceff1;
  border: 10px solid #eceff1;
  border-radius: 10px;
  color: #50592F;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.text-muted {
  color: #eceff1 !important;
}

a {
  color: #eceff1;
}
