.main-page {
  background-color: #BABFA8;
  height: 100vh;
  width: 100vw;
}

.navbar-main {
  background-color: #50592F;
  align-items: end;
  padding-left: 2vh;
  
}

.navbarText{
  color: #ECEFF1;
}

.main-page-body{
  padding-left: 2vh;
}

.signout{
  color:red;
}

