html{
  background-color: white;
  background-image:url("https://images.pexels.com/photos/1390200/pexels-photo-1390200.jpeg");
  background-size: cover;
}

.navbar-main {
  background-color: #464c17;
  align-items: end;
  padding-left: 5vw;
  padding-right: 5vw;
}

.navbarText{
  color: #ECEFF1;
}

.main-page-body{
  padding-left: 2vh;
}