.form-pass-recovery {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to bottom,
    #7ec1ec,
    #43413a,
    #eceff1,
    #6b862d
  );
}

.form-pass-recovery-space {
  border-radius: 30px;
  border: 20px solid #43413a;
  padding-top: 10%;
  margin-left: 20vw;
}
