.signup-space {
   background-color:  #ECEFF1;
   height: 90vh;
   width: 28vw;
   padding-top: 6vh;
   padding-left: 5vh;
   padding-right: 5vh;
   padding-bottom: 5vh;
   border-radius: 30px;
   border: 20px solid #49463d;
}

.account-question{
   color: #49463d;
}



