.main-page {
  background-color: #BABFA8;
  height: 100vh;
  width: 100vw;
  background-size: contain;
  background-blend-mode: darken;
  background-color: rgba(0,0,0,0.5);
  background-image: url("../../assets/BGCow.jpg");
}



.main-page-body{
  padding: 2vh;
}

#add-cow-button {
  margin:auto ;
  position: fixed;
  right: 5vw;
  bottom: 3vw;
  width: 9vw;
  height: 6vh;
  font-size: 16px;
}