.user-settings-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("../../../assets/BGCow.jpg");
  background-color: rgba(0, 0, 0, 0.68);
  filter: brightness(90%);
  background-size: contain;
  font-size: 20px;
}
.user-settings-space {
  width: 50%;
  padding: 5vh 5vw;
  color: black;
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 12.5px );
  -webkit-backdrop-filter: blur( 12.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.user-settings-welcome {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background-color: rgba(80, 89, 47, 1);
    height: 13vh;
    color: white;
    align-items: center;
    backdrop-filter: blur( 13px );
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-bottom: 8vh;
}

.user-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-settings-welcome h1 {
    border: 10px red;
    margin-bottom: 2vh;
}

.user-fields {
    width: 50vh;
    align-items: center;
}

#update-hint {
    color: #151515;
}