.horizontal-cow-card-group {
    display: inline-block;
    margin: 10px;
    color: black;
}

.card-cow {
    width: 22vw;
    height: 45vh;
    padding: 15px;
    color: black;
}

.btn {
    padding: 4px;
    margin: 5px;
}

.card-button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* Take full width of the card */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.incident-button,
.hv-button {
    font-size: 17px;
}